@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html{
    /* font-size: 10px; */
}
body{
    background-color: rgba(237, 32, 32, 0.18);
}

/* navbar  */
.nav-container{
    padding-left: 200px;
    padding-right: 200px;
}

/* banner section  */

.hero{
    width: auto;
    background-image: url(../media/hero-bg.png);
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
    height: 760px;
    
}

.hero-img{
    justify-self: center;
    position: relative;
 }

 .circle{
    padding-top: 101px;
 }
.icon{
    position:absolute ;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 69px;

}
.hero-info{
    color: white;
}

/* about section   */
.about-section{
    padding: 50px 200px 120px;
}


/* techwave section  */
.tectwave-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3,1fr); */
    grid-template-areas: 
    'a b b'
    'a c c'
    'd d e';

}

.box-1{
    grid-area: a;
    
}
.box-2{
    grid-area: b;
}
.box-3{
    grid-area: c;
}
.box-4{
    grid-area: d;
}
.box-5{
    grid-area: e;
}



.techwave-box{
    border: 2px solid indianred;
}
/* footer */
.footer-info{
    text-align: center;
}