@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html{
    font-size: 10px;
}
body{
    background-color: #1a0b3e;
    color: white;
}

/* shared styles  */
:root {
  
  --font-size-h1: 6rem;
  --font-size-h2: 4.8rem; 
  --font-size-h3: 3.8rem; 
  --font-size-h4: 2rem;
  --font-size-p : 1.6rem;
  --font-weight-h2:600;
  --font-weight-h3:500;
  --font-weight-p: 300;

}
    /* buttons  */

.btn{
    background-image: linear-gradient(to right,#F7E93F,#FB09B4,#9100F8);
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn:hover {
  background-color: #2e1cca1c;
  transform: scale(1.08);
}


/* button animation  */

.always{
    animation: always 1.5s infinite;
}

@keyframes always {
     0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 107, 0, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(255, 107, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 107, 0, 0);
  }
}
.primary-btn{
    padding: 10px;
    font-size: 1.5rem;
}

.secondary-btn{
    background: none;
    display: flex;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 10px;
    font-size: 1.5rem;
    align-items: center;
    
}

/* header{
    width: 100%;
} */


/* navbar  */

.nav-container{
    
    padding-left: 130px;
    padding-right: 170px;
}
.liner{
    background-image: linear-gradient(to right,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    color: transparent;
}
.nav-container>h3{
    font-size: var(--font-size-h3);
    font-weight: 600;
    color: white;
}
.nav-menu{
    margin-right: 30px;
}
.nav-menu a{
    color: white;
    font-size: 1.5rem;
}

/* banner section  */

.hero{
    width: auto;
    background-image: url(../media/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    
}

.hero-img{
    justify-self: center;
    position: relative;
 }

 .circle{
    padding-top: 101px;
 }
.icon{
    position:absolute ;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 69px;

}

.badge{
    position: absolute;
    width: 70px;
    margin-top: 120px;
    margin-left: 250px;
    border: 2px solid black;
    border-radius: 30px;
    font-weight: 600;
    background-color: #00FF88;
    color: #1A0B2E;
    text-align: center;
    font-size: var(--font-size-p);
    
    
}
.hero-info{
    margin-top: 40px;
}
.hero-info>h1{
    font-size: var(--font-size-h1);
    font-weight: 700;
}
.hero-info p{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
}

.hero-buttons{
    gap: 10px;
    margin-top: 30px;

}

/* about section   */


.about-section{
    padding: 50px 200px 120px;
}
.about-info>h2{
    font-size: var(--font-size-h2);
    font-weight: 500;
}
.about-info>p{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    margin-top: 10px;
}
.overall-h2>h2{
    font-size: var(--font-size-h2);
    color: #00FF88;
    font-weight: 700;
}
.overall-h2>p{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    white-space: nowrap;
}
.overall-info{
    gap: 120px;
    margin-top: 160px;
}


/* techwave section  */

.techwave>h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    text-align: center;
}

.techwave-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    /* grid-auto-rows: 1fr; */
    grid-gap: 20px;
    grid-template-areas: 
    'a b b'
    'a c c'
    'd d e';
    padding: 40px 200px 120px 200px;
    

}

.box-1{
    grid-area: a; 
}
.box-2{
    grid-area: b;
}
.box-3{
    grid-area: c;
}
.box-4{
    grid-area: d;
}
.box-5{
    grid-area: e;
}


.techwave-box{
    border: 1px solid rgba(53, 17, 101, 0.4);
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 20px;
    width: 100%;  
}

.techwave-box>h3{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3); 
}
.techwave-box>p{
    font-size: var(--font-size-p);
}

/* features option  */

.features>h2{
    font-size: var(--font-size-h2);
    text-align: center;
    font-weight: var(--font-weight-h2);
}
.featured-info{
    padding: 40px 200px 120px 200px;
    gap: 20px;
}
.feature-card{
    height: 440px;
    width: 380px;
    border: 1px solid rgba(53, 17, 101, 0.4);
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
}
.feature-card>h3{
    font-size: var(--font-size-h4);
    
}
.feature-card>p{
    font-size: var(--font-size-p);
    height: 72px;
}
.youtube-video{
    border-radius: 20px;
    padding: 10px;
}
.featured-icon{
    display: flex;
    gap: 10px;
    padding: 5px;
    color: #00FF88;
    align-items: center;
    margin-top: 12px;
}
 /* the host section  */
 .the-host{
    margin: 40px 200px 120px 200px;
    background-color: rgba(53, 17, 101, 0.4) ;
    border-radius: 10px;
    align-items: center;
    

}
.host-img{
    width: 100%;
    padding: 40px;
}
.host-info>h2{
    font-size: var(--font-size-h2);
    text-align: center;
    font-weight: var(--font-weight-h2);
    
 }
.host-about>h3{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    padding: 10px;
}

.host-about>p{
    font-size: var(--font-size-p);
    font-weight: var(--font-size-p);
    padding: 10px;
}
.host-links{
    align-items: center;
    gap: 16px;
}
.social-links{
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 10px;
}


/* footer */
footer{
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1)
}
.footer-info{
    height: 412px;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-image: url(../media/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.footer-info>h1{
    font-size: var(--font-size-h1);
    font-weight: 700;
}
.footer-info>p{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    margin-top: 32px;
}
.footer-links{
    justify-self: center;
    align-items: center;
    gap: 40px;
}
.last-link{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}
.footer-social{
    font-size: var(--font-size-p);
}

/* responsive  */
@media screen and (max-width:576px) {
    .about-section{
    padding:40px 20px 40px 20px;
    }
    
    .overall-info{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       
       margin: 20px 40px 20px 50px;
       gap: 40;
       
    }
    .techwave{
        margin-top: 80px;
    }
    .techwave-info{
        grid-template-areas: 
    'a'
    'b'
    'c'
    'd'
    'e';
    padding: 10px;
    
    }


    .featured-info{
    flex-direction: column; 
    padding: 20px;
    gap: 16px;
    }
    .feature-card{
        width: auto;
    }

    .the-host{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 10px;
        
     }
    .host-img{
    width: 100%;
    
    padding: 24px 125px 16px 175px ;
} 
}